<html><head>
    <meta name="go-import" content="knative.dev/{{.Repo}} git https://github.com/{{.Org}}/{{.Repo}}">
    <meta name="go-source" content="knative.dev/{{.Repo}}     https://github.com/{{.Org}}/{{.Repo}} https://github.com/{{.Org}}/{{.Repo}}/tree/master{/dir} https://github.com/{{.Org}}/{{.Repo}}/blob/master{/dir}/{file}#L{line}">
</head></html>
