{% extends "main.html" %} {% block content %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<div class="md-container home-page">
  <section class="home-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="headline-section">
          <h1 class="main-headline">
            Knative is an Open-Source Enterprise-level<br>
            solution to build Serverless and Event Driven Applications
          </h1>
          <p style="display: block">
            <a href="{{ 'getting-started/' | url }}" class="md-button white md-button--primary">Try the tutorial</a>
            <a href="{{ 'install/' | url }}" class="md-button white">Install Knative on your cluster</a>
          </p>
          <div class="trusted-by-container">
            <h3 class="trusted-by">Trusted by</h3>
            <div class="scroller">
              <div class="scroller__inner">
                <!-- First row of adopters will be populated dynamically -->
              </div>
            </div>
            <div class="scroller" data-direction="right">
              <div class="scroller__inner">
                <!-- Second row of adopters will be populated dynamically -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="need-to-know-more-container">
    <div class="md-grid md-typeset">
      <h1>Need to know more?</h1>
      <p class="normal-text">
        Learn about how Knative works with Kubernetes and the underlying ideas behind containers<br>
        and serverless infrastructure.
      </p>
      <a href="{{ 'getting-started/' | url }}" class="md-button call-to-action">
        Explore Knative
      </a>
    </div>
  </section>

  <section class="why-serverless-container">
    <div class="md-grid md-typeset">
      <h1>Why serverless containers?</h1>
      <p class="normal-text">
        Serverless refers to running back-end programs and processes in the cloud. Serverless works on an as-used basis,
        meaning that companies only use what they pay for. Knative is a platform-agnostic
        solution for running serverless deployments.
      </p>
      <div class="img-table">
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_simple_abstractions_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_simple_abstractions_icon.svg'"
                onmouseout="this.src='images/home-images/blue_simple_abstractions_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Simpler Abstractions</h2>
              <p class="normal-text">
                Simplify your YAML with our custom CRDs
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_autoscaling_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_autoscaling_icon.svg'"
                onmouseout="this.src='images/home-images/blue_autoscaling_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Autoscaling</h2>
              <p class="normal-text">
                Scale down to zero and up from zero
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_progressive_rollouts_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_progressive_rollouts_icon.svg'"
                onmouseout="this.src='images/home-images/blue_progressive_rollouts_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Progressive Rollouts</h2>
              <p class="normal-text">
                Choose your rollout strategy depending on your needs
              </p>
            </div>
          </div>
        </div>
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_event_intergrations_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_event_intergrations_icon.svg'"
                onmouseout="this.src='images/home-images/blue_event_intergrations_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Event Integrations</h2>
              <p class="normal-text">
                Handle events from many sources
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_handle_events_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_handle_events_icon.svg'"
                onmouseout="this.src='images/home-images/blue_handle_events_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Handle Events</h2>
              <p class="normal-text">
                Trigger handlers from the event broker
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_plugable_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_plugable_icon.svg'"
                onmouseout="this.src='images/home-images/blue_plugable_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Plugable</h2>
              <p class="normal-text">
                Kubernetes native to be integrated and extended
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="knative-components-container">
    <div class="md-grid md-typeset">
      <h1>Knative Components</h1>
      <p class="normal-text">
        Knative has two main components that empower teams working with Kubernetes. Serving and<br>
        Eventing work together to automate and manage tasks and applications.
      </p>
      <div class="components-content">
        <img class="components-img" src="images/home-images/knative_flowchart_graphic.svg" alt="" draggable="false" />
        <div class="text-table">
          <p class="normal-text">
            Run serverless containers in Kubernetes with ease. Knative takes care of the details of networking,
            autoscaling (even to zero), and revision tracking. Teams can focus on core logic using any programming
            language.
          </p>
          <p class="normal-text">
            Universal subscription, delivery and management of events. Build modern apps by attaching compute to a data
            stream with declarative event connectivity and developer friendly object models.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="trying-it-all-container">
    <div class="md-grid md-typeset">
      <h1>Trying it all together</h1>
      <div class="img-table">
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/dev_focus_code_icon.svg" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Developers focus on code</h2>
              <p class="normal-text">
                From container to URL<br>
                with less YAML config
              </p>
            </div>
          </div>

          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/dkblue_scale_icon.svg" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Scale up and down</h2>
              <p class="normal-text">
                Scale down to zero<br>
                based on traffic patterns
              </p>
            </div>
          </div>

          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/cloud_agnostic_icon.svg" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Cloud agnostic</h2>
              <p class="normal-text">
                Control traffic shifting<br>
                for smoother rollouts
              </p>
            </div>
          </div>
        </div>
      </div>
      <a href="{{ 'install/' | url }}" class="md-button call-to-action">
        Deploy Knative Today
      </a>
    </div>
  </section>

  <section class="case-studies-container">
    <div class="md-grid md-typeset">
      <h1>
        <a href="{{ 'about/case-studies/' | url }}">Case Studies</a>
      </h1>
      <div class="cases-table">
        <div class="col">
          <a href="{{ 'about/case-studies/deepc/' | url }}">
            <div class="logo">
              <img class="deepc" src="images/case-studies/deepc.png" alt="" draggable="false" />
            </div>
            <hr>
            <p class="normal-text">
              "It should be possible for
              somebody with an algorithm to have it on the platform in an hour"<br><br>

              —Andrew Webber,<br>
              Senior Software Engineer for deepc
            </p>
          </a>
        </div>
        <div class="col">
          <a href="{{ 'about/case-studies/outfit7/' | url }}">
            <div class="logo">
              <img class="outfit7" src="images/case-studies/outfit7.png" alt="" draggable="false" />
            </div>
            <hr>
            <p class="normal-text">
              "The community support is
              really great. The hands-on
              experience with Knative was
              so impressive. On the Slack
              channel, we got actual
              engineers to answer our questions"<br><br>

              —Tilen Kavcic,<br>
              Software Engineer for Outfit7
            </p>
          </a>
        </div>
        <div class="col">
          <a href="{{ 'about/case-studies/puppet/' | url }}">
            <div class="logo">
              <img class="puppet" src="images/case-studies/puppet.png" alt="" draggable="false" />
            </div>
            <hr>
            <p class="normal-text">
              "I'm a strong believer in
              working with open-source
              vendors. We've made
              contributions to numerous
              projects, including Tekton,
              Knative, Ambassador, and
              gVisor --All of which we depend
              on to make our product
              functional."<br><br>

              —Noah Fontes,<br>
              Senior Principal Software Engineer for<br>Puppet
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="cncf-notice-container">
    <h3>Knative is a <a href="https://www.cncf.io/">Cloud Native Computing Foundation</a> incubation project</h3>
    <img class="cncf-logo" src="images/home-images/cncf-color.png" alt="" draggable="false" />
  </section>

  <section class="whats-next-container">
    <div class="md-grid md-typeset">
      <h1>What's Next?</h1>
      <div class="component-flex">
        <div class="pane">
          <a href="https://slack.cncf.io" title="Slack Link">
            <div class="twemoji">
              {% include ".icons/fontawesome/brands/slack.svg" %}
            </div>
            <h2>Talk to us on Slack in #knative</h2>
            <p class="normal-text">Interested in learning more, speaking to other contributors, or finding answers?</p>
          </a>
        </div>
        <div class="pane">
          <a href="{{ 'community/contributing' | url }}" title="Contributing Link">
            <div class="twemoji">
              {% include ".icons/fontawesome/brands/github.svg" %}
            </div>
            <h2>Contributions Welcome</h2>
            <p class="normal-text">Want to join the fun on Github? New users are always welcome!</p>
          </a>
        </div>
        <div class="pane">
          <a href="https://twitter.com/KnativeProject" title="Twitter Link">
            <div class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                <path
                  d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
              </svg>
            </div>
          </a>
          <a href="https://www.linkedin.com/company/knative" title="Linkedin Link">
            <div class="twemoji">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -15 448 512">
                <path
                  d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
              </svg>
            </div>
          </a>
          <h2>Follow us</h2>
          <p class="normal-text">For feature announcements, interesting Knative news, and other great things.</p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Suggested size for the logo images = 320x96
    const adopters = [
      { logoPath: "images/corporate-logos/alibaba_cloud.svg", url: "https://cs.console.aliyun.com/" },
      { logoPath: "images/corporate-logos/bloomberg.svg", url: "https://www.bloomberg.net/" },
      { logoPath: "images/corporate-logos/blue_origin.svg", url: "https://www.blueorigin.com/" },
      { logoPath: "images/corporate-logos/box.svg", url: "https://box.com/" },
      { logoPath: "images/corporate-logos/chainguard.svg", url: "https://chainguard.dev/" },
      { logoPath: "images/corporate-logos/control_plane.svg", url: "https://www.controlplane.com/" },
      { logoPath: "images/corporate-logos/deepc.svg", url: "https://www.deepc.ai/" },
      { logoPath: "images/corporate-logos/fulcrum.svg", url: "https://www.fulcrumapp.com/" },
      { logoPath: "images/corporate-logos/gojek.svg", url: "https://www.gojek.com/" },
      { logoPath: "images/corporate-logos/google.svg", url: "https://cloud.google.com/anthos/run" },
      { logoPath: "images/corporate-logos/ibm.svg", url: "https://cloud.ibm.com/codeengine" },
      { logoPath: "images/corporate-logos/ka-nabell_japan.svg", url: "https://www.ka-nabell.com/" },
      { logoPath: "images/corporate-logos/kubesphere.svg", url: "https://kubesphere.io/" },
      { logoPath: "images/corporate-logos/liquidx.svg", url: "https://www.liquidx.com/" },
      { logoPath: "images/corporate-logos/manomano.svg", url: "https://www.manomano.es/" },
      { logoPath: "images/corporate-logos/optum.svg", url: "https://optum.com/" },
      { logoPath: "images/corporate-logos/property_xyz.svg", url: "https://property.xyz/" },
      { logoPath: "images/corporate-logos/redhat.svg", url: "https://www.openshift.com/learn/topics/serverless" },
      { logoPath: "images/corporate-logos/scaleway.svg", url: "https://www.scaleway.com/en" },
      { logoPath: "images/corporate-logos/sonavi_labs.svg", url: "https://www.sonavilabs.com/" },
      { logoPath: "images/corporate-logos/spider.svg", url: "https://www.spider.com/" },
      { logoPath: "images/corporate-logos/tata_comm.svg", url: "https://www.tatacommunications.com/solutions/cloud/platforms" },
      { logoPath: "images/corporate-logos/vmware.svg", url: "https://network.tanzu.vmware.com/products/serverless" },
      { logoPath: "images/corporate-logos/y_meadows.svg", url: "https://www.ymeadows.com/" }
    ];

    function shuffle(array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }

    // Shuffle the adopters array
    shuffle(adopters);

    const trustedByContainers = document.querySelectorAll(".trusted-by-container .scroller__inner");

    function populateAdopters(container, adopters) {
      adopters.forEach(adopter => {
        const adopterLink = document.createElement("a");
        adopterLink.href = adopter.url;
        adopterLink.target = "_blank";

        const adopterImg = document.createElement("img");
        adopterImg.src = adopter.logoPath;
        adopterImg.alt = "Adopters";
        adopterImg.classList.add("logo");

        adopterLink.appendChild(adopterImg);
        container.appendChild(adopterLink);
      });
    }

    const firstRowAdopters = adopters.slice(0, adopters.length / 2);
    const secondRowAdopters = adopters.slice(adopters.length / 2);

    // Shuffle each row's adopters array independently
    shuffle(firstRowAdopters);
    shuffle(secondRowAdopters);

    populateAdopters(trustedByContainers[0], firstRowAdopters);
    populateAdopters(trustedByContainers[1], secondRowAdopters);

    // If a user hasn't opted in for reduced motion, then we add the animation
    const scrollers = document.querySelectorAll(".scroller");
    if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
      addAnimation();
    }

    function addAnimation() {
      scrollers.forEach((scroller) => {
        scroller.setAttribute("data-animated", true);

        const scrollerInner = scroller.querySelector(".scroller__inner");
        const scrollerContent = Array.from(scrollerInner.children);

        // For each item in the array, clone it -> add aria-hidden to it -> add it into the `.scroller-inner`
        scrollerContent.forEach((item) => {
          const duplicatedItem = item.cloneNode(true);
          duplicatedItem.setAttribute("aria-hidden", true);
          scrollerInner.appendChild(duplicatedItem);
        });
      });
    }
  });
</script>

{% endblock %}

<!-- Application footer -->
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}