.DS_Store
.idea/
.vscode/
.history/
__pycache__
hack/__pycache__
/site/
/temp/
/temp-blog/
/blog/site/
/blog/overrides/
/blog/docs/stylesheets/
/node_modules/
venv/


.settings/
.classpath
.project
*.class
