# This file is documented at https://git-scm.com/docs/gitattributes.
# Linguist-specific attributes are documented at
# https://github.com/github/linguist.

/vendor/** linguist-vendored
/archived/** linguist-generated
*.ai binary
*.pdf binary
*.png binary

# coverage-excluded is an attribute used to explicitly exclude a path from being
# included in code coverage. If a path is marked as linguist-generated already,
# it will be implicitly excluded and there is no need to add the
# coverage-excluded attribute
/vendor/** coverage-excluded=true
/test/** coverage-excluded=true
