+++
title = "Knative"

+++

{{< blocks/cover title="Welcome to the Knative Project!" image_anchor="top" height="max" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/knative">
		View Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><h2>Kubernetes-based platform to build, deploy, and manage modern serverless workloads.</h2></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Knative provides a set of middleware components that are essential to build modern, source-centric, and container-based applications that can run anywhere: on premises, in the cloud, or even in a third-party data center.

{{% /blocks/lead %}}


{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">Essential base primitives for all</h1>
Knative components are built on Kubernetes and codify the best practices shared by successful real-world Kubernetes-based frameworks. It enables developers to focus just on writing interesting code, without worrying about the “boring but difficult” parts of building, deploying, and managing an application.
</div>
{{% /blocks/section %}}

{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">
Developer-friendly software</h1>
Knative offers a set of reusable components that focuses on solving many mundane but difficult tasks such as orchestrating source-to-container workflows, routing and managing traffic during deployment, auto-scaling your workloads, or binding running services to eventing ecosystems. Developers can even use familiar idioms, languages, and frameworks to deploy any workload: functions, applications, or containers.
</div>
{{% /blocks/section %}}

{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">Supports popular development patterns</h1>
Knative focuses on an idiomatic developer experience. It supports common development patterns such as GitOps, DockerOps, ManualOps, as well as tools and frameworks such as Django, Ruby on Rails, Spring, and many more.
</div>
{{% /blocks/section %}}

{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">Best of both worlds: Flexibility and control</h1>
Knative is designed to plug easily into existing build and CI/CD toolchains. By focusing on open-source-first technologies that run anywhere, on any cloud, on any infrastructure supported by Kubernetes, enterprises are free to move their workloads wherever they run best. This offers the flexibility and control customers need to adapt the system to their own unique requirements.
</div>
{{% /blocks/section %}}

{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">Operator-friendly</h1>
Knative is designed to be run as a service by all major cloud providers. Google currently works with industry leaders such as Pivotal, SAP, Red Hat, IBM, and many others to create the building blocks that will best suit the needs of developers. Knative powers real-world workloads and is also compatible with other cutting-edge technologies such as Kubernetes and Istio.
</div>
{{% /blocks/section %}}

<!----------
{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">Run your serverless workloads on Kubernetes Engine</h1>
You can now run your serverless workloads on Google Kubernetes Engine (GKE) by enabling the serverless add-on. Powered by Knative, the serverless add-on helps developers orchestrate builds, serving, and events with a single click, enabling the benefits of an idiomatic developer experience with the flexibility and control of GKE.
</div>
{{% /blocks/section %}}
---------->

{{< blocks/section >}}

<h1 class="text-center">Knative Features</h1>
	<table align="center">
		<thead>
	    <tr>
	      <th width="30%">Feature Name</th>
	      <th width="70%">Feature Description</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Serving</td>
	      <td>Scale to zero, request-driven compute model</td>
	    </tr>
	    <tr>
	      <td>Build</td>
	      <td>Cloud-native source to container orchestration</td>
	    </tr>
	    <tr>
	      <td>Eventing</td>
	      <td>Universal subscription, delivery, and management of events</td>
	    </tr>
	    <!----------
	    <tr>
	      <td>Add-on for GKE</td>
	      <td>GCP managed stack on Kubernetes</td>
	    </tr>
			----->
	  </tbody>
	</table>

{{< /blocks/section >}}


{{< blocks/section color="light" >}}

{{% blocks/feature icon="fab fa-slack" title="Talk to us on Slack!" url="https://knative.slack.com/" %}}
Interested in learning more, speaking to other contributors, or finding answers?
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="./contributing/" %}}
Want to join the fun? New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/KnativeProject" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}




