click==7.1.2
cyclic==1.0.0
future==0.18.2
greenlet==0.4.17
Jinja2==2.11.3
joblib==1.0.1
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.4
markdown-include==0.6.0
MarkupSafe==1.1.1
mdx-include==1.4.1
mike==0.5.5
mkdocs==1.1.2
mkdocs-exclude==1.0.2
mkdocs-macros-plugin==0.5.5
mkdocs-material==7.1.0
mkdocs-material-extensions==1.0.1
mkdocs-monorepo-plugin==0.4.13
mkdocs-redirects==1.0.3
msgpack==1.0.2
nltk==3.5
packaging==20.9
Pygments==2.8.1
pymdown-extensions==8.1.1
pynvim==0.4.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
rcslice==1.1.0
regex==2021.3.17
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
six==1.15.0
termcolor==1.1.0
tornado==6.1
tqdm==4.59.0
