apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: helloworld-vertx
spec:
  template:
    spec:
      containers:
        - image: docker.io/{username}/helloworld-vertx
          env:
          - name: TARGET
            value: "Eclipse Vert.x Sample v1"
