apiVersion: serving.knative.dev/v1alpha1
kind: Service
metadata:
  name: helloworld-shell
  namespace: default
spec:
  runLatest:
    configuration:
      revisionTemplate:
        spec:
          container:
            image: docker.io/{username}/helloworld-shell
            env:
            - name: TARGET
              value: "Shell Sample v1"
