/* General styles */
body {
  color: white;
  background: var(--md-primary-fg-color--dark);
}

/* Utilities */
.mr-30 {
  margin-right: 30px;
}

.font-bold {
  font-weight: bold;
}

.normal-text {
  font-size: 18px;
}

.italize {
  font-style: italic;
}

.card {
  background-color: transparent;
  border: 1px solid #dadce0;
  border-radius: 0.7rem;
  padding: 0px 20px;
}

.feature {
  width: 400px;
  min-width: 40%;
  max-width: 100%;
  height: 200px;
}

.quote {
  font-size: 1.5rem;
  color: #2270ab;
}

.quote-author {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

/* Homepage-specific styles */
.home-page .md-typeset {
  font-size: 1rem;
  line-height: 1.2;
}

.md-typeset img,
.md-typeset svg {
  max-width: initial;
}

/* Hero */
.hero {
  background-image: url("../../images/home-images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #fff;
  height: 25rem;
  margin-top: -50px;
}

.headline-section {
  text-align: center;
}

.main-headline {
  padding-top: 2rem;
  color: black !important;
}

.call-to-action {
  display: inline-flex;
  margin-top: 2rem;
  gap: 5px;
}

section.home-container {
  min-height: 435px;
  justify-content: center;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 0;
}

.home-container > .md-typeset {
  flex-grow: 2;
}

.home-container .md-button,
.home-container .md-button--primary {
  color: white;
  width: 28%;
  font-size: large;
  padding: 0.525em 1em;
  min-width: fit-content;
  border-radius: 8px;
  margin-left: 0.5rem;
}

.home-container .md-button,
.need-to-know-more-container .md-button {
  background-color: var(--md-primary-fg-color--light);
  border-color: var(--md-primary-fg-color--light);
  border-radius: 8px;
}

.md-typeset .call-to-action .md-button {
  margin-top: 0.5rem;
  border-radius: 8px;
  color: var(--md-primary-fg-color--dark);
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-fg-color);
}

.md-typeset .call-to-action .md-button.md-button--primary {
  color: var(--md-primary-fg-color);
  background-color: var(--md-primary-fg-color--dark);
  border-color: var(--md-primary-fg-color--dark);
}

.md-typeset .call-to-action .md-button:focus,
.md-typeset .call-to-action .md-button:hover {
  background-color: var(--md-accent-fg-color) !important;
  border-color: var(--md-accent-fg-color) !important;
  color: white !important;
}

h3.trusted-by {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
}

h2.secondary-headline {
  color: var(--nav-item-color);
  font-weight: 500;
  font-size: 1rem;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.home-container h1 {
  color: black;
  margin-top: 1em;
  margin-bottom: 0;
}

.scroller {
  max-width: 60vw;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  margin: 0 auto;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 90s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.trusted-by-container {
  margin-bottom: 40px;
}

.trusted-by-container #usedby {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trusted-by-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120pt;
  height: 36pt;
}

.trusted-by-container .logo img {
  max-width: auto;
  max-height: 48;
}

.home-container h2 {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

/* Site page styles */
.md-main__inner {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.md-main__inner .md-content__inner,
.md-sidebar--primary:not([hidden]) ~ .md-content > .md-content__inner {
  margin: 0;
  padding: 0;
}

.md-main__inner .md-content__inner:before {
  display: none;
}

/* containers specific css */
.need-to-know-more-container,
.trying-it-all-container,
.whats-next-container,
.whats-next-container,
.case-studies-container,
.cncf-notice-container {
  text-align: center;
  padding: 4em 3em;
}

/* need to know more section css */
.need-to-know-more-container,
.knative-components-container,
.whats-next-container {
  background-color: white;
  color: var(--nav-item-color);
  text-align: center;
}

.need-to-know-more-container {
  padding: 5em 1em 0em 1em;
}

.need-to-know-more-container h1,
.whats-next-container h1 {
  color: var(--md-primary-fg-color--dark);
  font-size: 2em;
}

/* why serverless container css */
.serverless-outer {
  background-color: #fff;
}

.why-serverless-container {
  display: flex;
  justify-content: space-between;
}

.why-serverless-container,
.trying-it-all-container {
  margin-top: -2px;
  background-color: white;
  color: var(--nav-item-color);
  padding: 8em 1em;
}

.why-serverless-container h1,
.trying-it-all-container h1,
.case-studies-container h1 {
  color: var(--md-primary-fg-color--dark);
  font-size: 2em;
  margin-bottom: 1rem;
}

.why-serverless-container .normal-text,
.trying-it-all-container .normal-text {
  font-weight: 600;
  margin: 0 auto 2rem;
  color: var(--nav-item-color);
}

.why-serverless-container .normal-text-head {
  color: var(--nav-item-color);
  width: 85%;
  font-weight: 600;
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.serverless-content-block {
  flex: 1;
  justify-content: space-between;
}

.serverless-feature-block {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 40px;
}

.img-table {
  margin: 1rem auto -1rem;
}

.img-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.img-col {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: 30%;
  margin: 1rem auto;
  align-items: center;
}

.img-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.reason-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.25s ease-in-out 0s;
}

.reason-img img:hover {
  transform: scale(1.15);
}

.reason-text h2 {
  font-size: 24px;
  color: black;
  margin: 4px 0px;
  font-weight: bold;
}

/* knative components container css */
.knative-components-container h1 {
  color: var(--md-primary-fg-color--dark);
}

.knative-components-container .components-content .components-img {
  max-width: 80%;
  padding: 2em;
}

div.components-content {
  border: 1px solid #dadce0;
  border-radius: 0.7rem;
  padding: 0px 20px;
  margin: 0 50px;
}

/* case studies container css */
.kelsey-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  margin-top: 2rem;
  margin-right: 50px;
  margin-left: 50px;
  gap: 30px;
  text-align: start;
  color: var(--md-primary-fg-color--dark);
  font-weight: 600;
  line-height: 1.2;
  font-size: 0.95rem;
}

.kelsey-testimonial > img {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1);
  border-radius: 50%;
}

.md-typeset > h1:first-of-type {
  margin: 0;
}

.case-studies-container {
  text-align: center;
  color: var(--nav-item-color);
  background-color: white;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 4rem;
}

.case-studies-container > a:first-of-type {
  text-decoration: none;
  cursor: pointer;
}

.case-studies-container .cases-table {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: stretch;
  margin: 1rem;
  margin-top: 0;
  align-items: center;
}

.case-studies-container .cases-table a {
  text-decoration: none;
  cursor: pointer;
  flex: 1 1 25vw;
  min-width: 300px;
  max-width: 25vw;
  margin: 1rem;
}

.case-studies-container .cases-table .col {
  padding: 1.5rem;
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  transition: border 0.3s ease-in-out;
  height: 100%;
}

.case-studies-container .cases-table .col:hover, .kelsey-testimonial:hover {
  border: 1.2px solid gray;
}

.case-studies-container .logo {
  display: flex;
  height: 26px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2em;
  padding-top: 2rem;
}

.case-studies-container .logo img {
  max-width: 110px;
}

.case-studies-container .logo .sva {
  width: 60px;
}

.case-studies-container .normal-text {
  text-align: start;
  padding: 0 2em;
  color: var(--md-primary-fg-color--dark);
  font-weight: 600;
  line-height: 1.2;
  font-size: 0.95rem;
}

#pnc-testimonial {
  padding: 1rem 1.5rem;
}

/* cncf notice container css */
.cncf-notice-container {
  background-color: white;
}

.cncf-notice-container h3 {
  font-weight: bold;
  color: var(--nav-item-color);
  margin-top: 0;
}

.md-typeset img.cncf-logo {
  width: 40%;
  max-width: 500px;
  margin: 1rem;
}

/* No next/prev links on home page so make sure next/prev area of footer collapses nicely */
footer nav.md-footer__inner {
  padding: 0;
}

.md-footer-meta {
  padding: 1em 0;
}

.md-footer-copyright {
  margin-right: 18px;
}

/* Media queries (Responsive Styles) */

/* hero */
@media screen and (max-width: 334px) {
  .hero {
    height: 30rem;
  }
}

@media screen and (max-width: 254px) {
  .hero {
    height: 35rem;
  }
}

/* sidebar styles  */
@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }

  [dir="ltr"]
    .md-sidebar--primary:not([hidden])
    ~ .md-content
    > .md-content__inner {
    margin-left: 0;
  }
}

@keyframes continuousgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* home headline section css */
@media screen and (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }

  .home-container .md-button,
  .home-container .md-button--primary {
    width: 70%;
    font-size: medium;
    margin: 0.5em 0;
  }

  .scroller {
    max-width: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .main-headline {
    font-size: 1.5rem !important;
  }

  .h2.secondary-headline {
    font-size: 0.7rem;
  }

  .call-to-action {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }

  .home-container h1 {
    font-size: 1.5em;
    padding: 0.5rem;
  }

  .home-container .md-button,
  .home-container .md-button--primary {
    font-size: small;
  }

  .scroller {
    max-width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .need-to-know-more-container {
    padding: 1.5em 0.5em;
  }

  .need-to-know-more-container h1 {
    font-size: 1.5em;
  }

  .need-to-know-more-container .md-button {
    width: 70%;
    font-size: large;
  }

  .normal-text {
    font-size: 1em;
    line-height: 1.5em;
  }

  .br {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .need-to-know-more-container {
    padding: 1em 0.5em;
  }

  .need-to-know-more-container h1 {
    font-size: 1.2em;
  }

  .need-to-know-more-container .md-button {
    font-size: medium;
    padding: 4px 1.5em;
  }

  .normal-text {
    font-size: 0.9em;
    line-height: 1.4em;
  }
}

@media screen and (max-width: 768px) {
  .serverless-content-block {
    text-align: center;
  }

  .why-serverless-container {
    flex-direction: column;
  }

  .why-serverless-container h1 {
    font-size: 1.5em;
  }

  .why-serverless-container .normal-text-head {
    font-size: 0.9rem;
    margin-bottom: 4rem;
  }

  .img-row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .img-col {
    flex: 1 1 45%;
    max-width: 45%;
    margin: 0;
  }

  .img-wrapper {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .why-serverless-container {
    flex-direction: column;
    padding: 3em 1em;
  }

  .why-serverless-container h1 {
    font-size: 1.2em;
  }

  .why-serverless-container .normal-text-head {
    font-size: 0.8rem;
  }

  .img-row {
    flex-direction: column;
  }

  .img-col {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .img-wrapper {
    width: 60px;
    height: 60px;
  }
}

/* case studies container css */
@media (max-width: 1370px) {
  .case-studies-container .cases-table a {
    flex: 1 1 30vw;
    min-width: 300px;
    max-width: 30vw;
  }
}

@media (max-width: 1200px) {
  .case-studies-container .cases-table {
    flex-wrap: wrap;
  }
  .case-studies-container .cases-table a {
    flex: 1 1 40vw;
    min-width: 300px;
    max-width: 40vw;
  }
}

@media (max-width: 992px) {
  .case-studies-container .cases-table a {
    flex: 1 1 50vw;
    min-width: 300px;
    max-width: 50vw;
  }
}

@media (max-width: 800px) {
  .case-studies-container .cases-table {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .case-studies-container .cases-table .col {
    max-width: 50%;
  }

  .case-studies-container .cases-table a {
    display: flex;
    flex: 1 1 90vw;
    min-width: 350px;
    max-width: 90vw;
    justify-content: center;
    margin: 0.5rem auto;
  }
}

@media (max-width: 600px) {
  .case-studies-container {
    padding-top: 2.5rem;
  }

  .case-studies-container .cases-table a {
    flex: 1 1 90vw;
    min-width: 650px;
    max-width: 90vw;
  }

  .case-studies-container .logo {
    padding: 0 1em;
    padding-top: 1rem;
  }

  .case-studies-container hr {
    margin: 0.4em 2em -4px 1em;
  }

  .case-studies-container .normal-text {
    padding: 0 1em;
  }

  .kelsey-testimonial {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

@media (max-width: 630px) {
  [dir=ltr] .md-tabs__list {
    margin-left: 7.2rem;
  }
}

@media (max-width: 375px) {
  .case-studies-container .cases-table a {
    flex: 1 1 90vw;
    min-width: 350px;
    max-width: 90vw;
  }

  .case-studies-container .cases-table .col {
    max-width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .knative-components-container {
    padding: 2em 1em;
  }

  .knative-components-container .components-content .components-img {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .knative-components-container .components-content .components-img {
    padding: 10px 5px;
  }
}

@media (max-width: 1024px) {
  .md-header__topic {
    margin: 0;
  }

  .md-footer-copyright {
    margin: auto;
    text-align: center;
  }

  .md-social {
    margin: auto;
  }
}

@media (max-width: 861px) {
  .md-footer-meta {
    flex-direction: column;
  }

  .md-footer__link {
    display: block;
    margin-bottom: 1rem;
  }

  .md-footer__title {
    display: block;
    margin-bottom: 0.5rem;
  }

  .md-footer__button {
    display: none;
  }

  .md-footer-meta__inner {
    flex-direction: column;
    align-items: center;
  }

  .md-footer-copyright {
    order: 2;
    margin: 2rem;
    flex-wrap: wrap;
  }

  .md-footer-copyright a {
    margin: 8px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .md-social {
    margin-top: 1rem;
  }

  .pipe {
    display: none;
  }
}
