.md-main__inner {
  margin: 0;
  max-width: 100%;
}

.md-main__inner .md-content__inner,
.md-sidebar--primary:not([hidden]) ~ .md-content > .md-content__inner {
  margin: 0;
  padding: 0;
}

.md-main__inner .md-content__inner:before {
  display: none;
}

@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}
@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }

  [dir=ltr] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
    margin-left: 0;
  }
}

@keyframes continuousgradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.headline-section {
  text-align: center;
}

.md-typeset img,
.md-typeset svg {
  max-width: initial;
}

/* Home headline section css */
section.home-container {
  min-height: 435px;
  justify-content: center;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
}

.home-container > .md-typeset {
  flex-grow: 2;
}

body {
  color: #fff;
  background: var(--md-primary-fg-color);
  background: #5063d0;
  background: #0071c7;
  background: var(--home-color);
}

.whats-next-container,
.home-container,
.features-container,
.intro-container,
.case-studies-container,
.components-container {
  margin: 0;
  border: 0;
  padding-top: 2em;
  padding-bottom: 5em;
}

.home-container .md-button, .home-container .md-button--primary {
  color: white;
  width: 28%;
  font-size: large;
  padding: 0.525em 1em;
  min-width: fit-content;
}

.home-container .md-button {
  background-color: #52b3dd;
  border-color: #52b3dd;
}

.home-container .md-button--primary {
  margin-top: 0.5rem;
  background-color: #024c8f;
  border-color: #024c8f;
}

h2.secondary-headline, h3.trusted-by {
  color: black;
  font-weight: 700;
}

.secondary-headline {
  margin-top: 8px;
}

.home-container h1 {
  color: #024c8f;
  font-weight: bolder;
  font-size: 3.2vw;
  margin-top: 1em;
  margin-bottom: 0;
}

.trusted-by-container #usedby {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trusted-by-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120pt;
  height: 36pt;
}

.trusted-by-container .logo img {
  max-width: 86pt;
  max-height: 24pt;
}

.trusted-by-container .logo.triggermesh {
  width: 162pt;
}

.trusted-by-container .logo.triggermesh img {
  width: 121pt;
  height: auto;
}

.home-container h2 {
  margin: 0;
}

.whats-next-container {
  color: #fff;
  background: #1b2f52;
}

.whats-next-container .component-flex {
  display: flex;
  gap: 2em;
  padding-top: 1em;
}

.whats-next-container .pane h4 {
  font-size: 1.3em;
}

.whats-next-container .twemoji {
  color: #fff;
  justify-content: center;
}

.whats-next-container .twemoji, .whats-next-container .twemoji svg {
  height: 3.5em;
  width: 3.5em;
}

.whats-next-container .pane {
  text-align: center;
}

.whats-next-container .md-button {
  display: inline-block;
  margin: 0.5em auto;
}

.intro-container img {
  height: 10em;
  float: right;
  margin: 0 0 0 2em;
}

.case-studies-container {
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
}
.case-studies-container #case-studies-title {
  display: flex;
  justify-content: center;
}

.case-studies-container #case-studies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.case-studies-container #case-studies-more {
  font-style: italic;
  font-size: smaller;
  color: #aaa;
  text-align: center;
}

.case-studies-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 1em;
  width: 150pt;
  height: 36pt;
}

.case-studies-container .logo img {
  max-width: 150pt;
  max-height: 36pt;
}


.features-container {
  color: #000;
  background: #fff;
}

@media only screen and (max-width: 1440px) {
  .components-container,
  .whats-next-container,
  .home-container,
  .features-container,
  .intro-container {
    padding: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .component-flex {
    flex-wrap: wrap;
  }

  .intro-container img {
    display: block;
    margin:0 auto;
    float: none;
  }
}

/*fixing issue in safari css */
.md-typeset .task-list-item {
  margin-left: 25px;
}

/* No next/prev links on home page so make sure next/prev area of footer collapses nicely */
footer nav.md-footer__inner {
  padding: 0;
}
footer .md-footer-meta .md-footer-meta__inner {
  padding: 1em 0;
}
