.md-main__inner {
  margin: 0;
  max-width: 100%;
}

.md-main__inner .md-content__inner,
.md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
  margin: 0;
  padding: 0;
}

.md-main__inner .md-content__inner:before {
  display: none;
}

@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }

  [dir=ltr] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
    margin-left: 0;
  }
}

@keyframes continuousgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* containers specific css */
.headline-section {
  text-align: center;
}

.why-serverless-container, .need-to-know-more-container,
.knative-components-container, .trying-it-all-container,
.whats-next-container, .whats-next-container,
.case-studies-container, .cncf-notice-container {
  text-align: center;
  padding: 4em 3em;
}

.home-page .md-typeset {
  font-size: 1rem;
  line-height: 1.2;
}

.md-typeset img,
.md-typeset svg {
  max-width: initial;
}

/* home headline section css */
section.home-container {
  min-height: 435px;
  justify-content: center;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 0;
}

.home-container>.md-typeset {
  flex-grow: 2;
}

body {
  color: white;
  background: var(--md-primary-fg-color--dark);
}

.home-container .md-button,
.home-container .md-button--primary {
  color: white;
  width: 28%;
  font-size: large;
  padding: 0.525em 1em;
  min-width: fit-content;
  border-radius:0.7rem;
  margin-left: 0.5rem;
}

.home-container .md-button,
.need-to-know-more-container .md-button {
  background-color: var(--md-primary-fg-color--light);
  border-color: var(--md-primary-fg-color--light);
  border-radius: 0.7rem;
}

.home-container .md-button--primary {
  margin-top: 0.5rem;
  background-color: var(--md-primary-fg-color--dark);
  border-color: var(--md-primary-fg-color--dark);
}

h2.secondary-headline, h3.trusted-by {
  color: black;
  font-weight: 700;
}

.home-container h1 {
  color: black;
  margin-top: 1em;
  margin-bottom: 0;
}

.scroller {
  max-width: 60vw;
  
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  margin: 0 auto;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 90s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.trusted-by-container #usedby {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trusted-by-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120pt;
  height: 36pt;
}

.trusted-by-container .logo img {
  max-width: auto;
  max-height: 48;
}


.home-container h2 {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

/* need to know more section css */
.need-to-know-more-container, .knative-components-container,
.whats-next-container {
  background-color: var(--md-primary-fg-color--dark);
}

.need-to-know-more-container h1, .whats-next-container h1 {
  color: white;
}

.need-to-know-more-container .md-button {
  font-size: x-large;
  margin-top: 1em;
  padding: 4px 3em;
  color: white;
}

/* why serverless container css */
.why-serverless-container, .trying-it-all-container {
  background-color: #f3f1f2;
  color: var(--md-primary-fg-color--light);
}

.why-serverless-container h1, .trying-it-all-container h1,
.case-studies-container h1 {
  color: var(--md-primary-fg-color--dark);
}

.why-serverless-container .normal-text,
.trying-it-all-container .normal-text {
  font-weight: 600;
  margin: 0 auto 2rem;
  max-width: 75%;
  color:var(--nav-item-color);
}

.why-serverless-container .md-typeset h1,
.trying-it-all-container .md-typeset h1 {
  margin-bottom: 1rem;
}

.why-serverless-container .md-typeset h2,
.trying-it-all-container .md-typeset h2 {
  font-weight: bold;
  color: black;
  margin: 0;
}

.why-serverless-container .normal-text {
  font-size: .8rem;
}

.img-table {
  margin: 1rem auto -1rem;
}

.img-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.img-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.why-serverless-container .md-typeset img {
  max-width: 120px;
  transform: scale(1);
  transition: transform 0.25s ease-in-out 0s;
}

.why-serverless-container .md-typeset img:hover {
  transform: scale(1.15);
}

/* knative components container css */
.knative-components-container h1 {
  color: white;
}

.knative-components-container .text-table .normal-text {
  width: 30%;
  text-align: start;
  margin-left: 1%;
  font-size: .8rem;
  margin-top: -1rem;
}

.knative-components-container .text-table .normal-text:last-child {
  padding-left: 2em;
  margin-left: 32%;
}

.knative-components-container .components-content .components-img {
  max-width: 80%;
  padding: 2em;
}

.text-table {
  display: flex;
  max-width: 80%;
  margin: auto;
  padding: 0 2.5em;
}

/* trying it all container css */
.trying-it-all-container .reason-img {
  margin: auto;
  height: 130px;
}

.trying-it-all-container .md-typeset h2 {
  color: black;
  line-height: 1;
  margin-bottom: 1rem;
}

.trying-it-all-container .img-col {
  place-self: flex-start;
}

.trying-it-all-container .img-col:first-child img {
  height: 106px;
  margin-top: 10px;
}

.trying-it-all-container .img-col img {
  height: 130px;
}

.trying-it-all-container .img-col:last-child img {
  height: 94px;
  margin-top: 20px;
}

.trying-it-all-container .md-typeset .md-button.call-to-action {
  font-size: x-large;
  padding: 0.5rem 2em;
  background-color: var(--md-primary-fg-color--dark);
  color: white;
  margin-top: 1em;
  border-radius: 0.7rem;
}

.trying-it-all-container .md-button.call-to-action:hover {
  background-color: var(--md-accent-fg-color);
}

/* case studies container css */
.case-studies-container {
  text-align: center;
  justify-content: center;
  color: black;
  display: flex;
  background-color: #f3f1f2;
}

.case-studies-container h1 {
  margin-bottom: 0.45em;
}

.case-studies-container .cases-table {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

.case-studies-container .logo {
  display: flex;
  height: 26px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2em;
}

.case-studies-container .col {
  min-width: 38%;
  max-width: 40%;
}

.case-studies-container .logo img {
  max-width: 110px
}

.case-studies-container .logo .sva {
  width: 60px;
}

.case-studies-container .normal-text {
  text-align: start;
  padding: 0 2em;
  color: var(--nav-item-color);
  font-weight: 600;
  font-style: italic;
  line-height: 1.1;
  font-family: serif;
  font-size: .95rem;
}

.case-studies-container hr {
  border-bottom: 2px solid #89c487;
  display: flow-root;
  margin: .4em 5em -4px 2em;
}

/* whats next container css */
.whats-next-container .component-flex {
  display: flex;
  gap: 2em;
  padding-top: 1em;
}

.whats-next-container h1 {
  margin: 0;
}

.whats-next-container h2 {
  color: white;
  font-size: 1.3rem;
  margin: .6em 0 0;
  font-weight: bold;
}

.whats-next-container .normal-text {
  font-weight: 500;
  font-size: .8em;
  padding-top: 0;
  color: white;
}

.whats-next-container .twemoji {
  color: white;
  justify-content: center;
}

.whats-next-container .twemoji,
.whats-next-container .twemoji svg {
  height: 3.5em;
  width: 3.5em;
}

.whats-next-container .twemoji svg:hover {
  color: #7cc57c;
}

.whats-next-logo{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.md-typeset .md-button.white {
  color: white;
}

/* cncf notice container css */
.cncf-notice-container {
  background-color: white;
  padding-top: 0;
}

.cncf-notice-container h3 {
  font-weight: bold;
  color: var(--nav-item-color);
  margin-top: 0;
}

.md-typeset img.cncf-logo {
  width: 40%;
  max-width: 500px;
  margin: 1rem;
}

@media only screen and (max-width: 1219px) {
  .md-header__topic {
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .component-flex, .case-studies-container .cases-table {
    flex-wrap: wrap;
  }

  .knative-components-container .text-table .normal-text {
    width: 80%;
  }

  .knative-components-container .text-table .normal-text:first-child {
    margin-left: -15%;
  }

  .knative-components-container {
    padding: 3em 1em;
  }

  .knative-components-container .components-content .components-img {
    max-width: 100%;
  }

  .case-studies-container .col {
    max-width: 50%;
  }

  .case-studies-container .col .normal-text {
    padding-right: .5em;
  }
}

/* No next/prev links on home page so make sure next/prev area of footer collapses nicely */
footer nav.md-footer__inner {
  padding: 0;
}

.md-footer-meta{
  padding: 1em 0;
}
.md-footer-copyright{
  margin-right: 18px;
}
@media (max-width: 1024px){
.md-footer-copyright{
  margin: auto;
  text-align: center;
}
.md-social{
  margin: auto;
}
}
@media (max-width: 861px) {
  .md-footer-meta{
    flex-direction: column;
  }

  .md-footer__link {
    display: block;
    margin-bottom: 1rem;
  }

  .md-footer__title {
    display: block;
    margin-bottom: 0.5rem;
  }
  .md-footer__button {
    display: none;
  }

  .md-footer-meta__inner {
    flex-direction: column;
    align-items: center;
  }

  .md-footer-copyright {
    order: 2;
    margin: 2rem;
    flex-wrap: wrap;
  }
  .md-footer-copyright a{
    margin: 8px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    order: 1;
  
  }

  .md-social {
    margin-top: 1rem;
  }
}
