.hero {
  background-image: url("../../images/home-images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #fff;
  height: 25rem;
  margin-top: -50px;
}

.md-main__inner {
  margin: 0;
  max-width: 100%;
  overflow: hidden; 
  position: relative;
}

.md-main__inner .md-content__inner,
.md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
  margin: 0;
  padding: 0;
}

.md-main__inner .md-content__inner:before {
  display: none;
}

@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }

  [dir=ltr] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
    margin-left: 0;
  }
}

@keyframes continuousgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* containers specific css */
.headline-section {
  text-align: center;
}

.main-headline {
  padding-top: 2rem;
}

.headline-section p {
  margin-top: 2rem;
}

.why-serverless-container, .need-to-know-more-container,
.trying-it-all-container,
.whats-next-container, .whats-next-container,
.case-studies-container, .cncf-notice-container {
  text-align: center;
  padding: 4em 3em;
}

.home-page .md-typeset {
  font-size: 1rem;
  line-height: 1.2;
}

.md-typeset img,
.md-typeset svg {
  max-width: initial;
}

/* home headline section css */
section.home-container {
  min-height: 435px;
  justify-content: center;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 0;
}

.home-container>.md-typeset {
  flex-grow: 2;
}

body {
  color: white;
  background: var(--md-primary-fg-color--dark);
}

.home-container .md-button,
.home-container .md-button--primary {
  color: white;
  width: 28%;
  font-size: large;
  padding: 0.525em 1em;
  min-width: fit-content;
  border-radius:8px;
  margin-left: 0.5rem;
}

.md-button--secondary {
  background-color: var(--md-primary-fg-color--dark);
  border: none !important;
}

.home-container .md-button,
.need-to-know-more-container .md-button {
  background-color: var(--md-primary-fg-color--light);
  border-color: var(--md-primary-fg-color--light);
  border-radius: 8px;
}

.home-container .md-button--primary {
  margin-top: 0.5rem;
  background-color: var(--md-primary-fg-color--dark);
  border-color: var(--md-primary-fg-color--dark);
  border-radius: 8px;
}

h3.trusted-by {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
}

h2.secondary-headline {
  color: var(--nav-item-color);
  font-weight: 500;
  font-size: 1rem;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.home-container h1 {
  color: black;
  margin-top: 1em;
  margin-bottom: 0;
}

.scroller {
  max-width: 60vw;
  
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  margin: 0 auto;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 90s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.trusted-by-container {
  margin-bottom: 40px;
}

.trusted-by-container #usedby {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trusted-by-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120pt;
  height: 36pt;
}

.trusted-by-container .logo img {
  max-width: auto;
  max-height: 48;
}


.home-container h2 {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }

  .home-container .md-button,
  .home-container .md-button--primary {
    width: 70%;
    font-size: medium;
    margin: 0.5em 0;
  }

  .scroller {
    max-width: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .home-container h1 {
    font-size: 1.5em;
    padding: 0.5rem;
  }

  .home-container .md-button,
  .home-container .md-button--primary {
    font-size: small;
  }

  .scroller {
    max-width: 100vw;
  }
}


/* need to know more section css */
.need-to-know-more-container, .knative-components-container,
.whats-next-container {
  background-color: white;
  color: var(--nav-item-color);
  text-align: center;
}

.need-to-know-more-container {
  padding: 5em 1em 0em 1em;
}

.need-to-know-more-container h1, .whats-next-container h1 {
  color: var(--md-primary-fg-color--dark);
  font-size: 2em;
}

/* .need-to-know-more-container .md-button {
  margin: 1em 0;
  color: white;
  border-radius: 0.5rem;
  background-color: var(--md-primary-fg-color--light);
  border: none;
  width: 28%;
  font-size: large;
  padding: 0.525em 1em;
  min-width: fit-content;
} */

@media screen and (max-width: 768px) {
  .need-to-know-more-container {
    padding: 1.5em 0.5em;
  }

  .need-to-know-more-container h1 {
    font-size: 1.5em;
  }

  .need-to-know-more-container .md-button {
    width: 70%;
    font-size: large;
  }

  .normal-text {
    font-size: 1em;
    line-height: 1.5em;
  }

  .br{
    display: none;
  }

}

@media screen and (max-width: 480px) {
  .need-to-know-more-container {
    padding: 1em 0.5em;
  }

  .need-to-know-more-container h1 {
    font-size: 1.2em;
  }

  .need-to-know-more-container .md-button {
    font-size: medium;
    padding: 4px 1.5em;
  }

  .normal-text {
    font-size: 0.9em;
    line-height: 1.4em;
  }
}

/* why serverless container css */
.why-serverless-container, .trying-it-all-container {
  margin-top: -2px;
  background-color: white;
  color: var(--md-primary-fg-color--light);
  padding: 8em 1em;
  text-align: center;
}

.why-serverless-container h1, .trying-it-all-container h1,
.case-studies-container h1 {
  color: var(--md-primary-fg-color--dark);
  font-size: 2em;
  margin-bottom: 1rem;
}

.why-serverless-container .normal-text,
.trying-it-all-container .normal-text {
  font-weight: 600;
  margin: 0 auto 2rem;
  color: var(--nav-item-color);
}

.why-serverless-container .normal-text-head {
  color: var(--nav-item-color);
  width: 85%;
  font-weight: 600;
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.img-table {
  margin: 1rem auto -1rem;
}

.img-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.img-col {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: 30%;
  margin: 1rem auto;
  align-items: center;
}

.img-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.reason-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.25s ease-in-out 0s;
}

.reason-img img:hover {
  transform: scale(1.15);
}

.reason-text h2{
  font-size:24px;
  color:black;
  margin:4px;
  font-weight: bold;
}

.normal-text{
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .why-serverless-container h1 {
    font-size: 1.5em;
  }

  .why-serverless-container .normal-text-head {
    font-size: 0.9rem;
    margin-bottom: 4rem;
  }

  .img-row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .img-col {
    flex: 1 1 45%;
    max-width: 45%;
    margin:0;
  }

  .img-wrapper {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .why-serverless-container h1 {
    font-size: 1.2em;
  }

  .why-serverless-container .normal-text-head {
    font-size: 0.8rem;
  }

  .img-row {
    flex-direction: column;
  }

  .img-col {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .img-wrapper {
    width: 80px;
    height: 80px;
  }
}

/* knative components container css */
.knative-components-container h1 {
  color: var(--md-primary-fg-color--dark);
}

.knative-components-container .text-table .normal-text {
  width: 30%;
  text-align: start;
  margin-left: 1%;
  font-size: .8rem;
  margin-top: -1rem;
  text-align: center;
}

.knative-components-container .text-table .normal-text:last-child {
  padding-left: 2em;
  margin-left: 32%;
}

.knative-components-container .components-content .components-img {
  max-width: 80%;
  padding: 2em;
}

.text-table {
  display: flex;
  max-width: 80%;
  margin: auto;
  padding: 0 2.5em;
  align-items: center;
  justify-content: center;
}

.knative-components-container-mobile , .text-upper-right , .text-lower-left , .svg-diagram{
  display: none;
}

@media only screen and (max-width: 425px){

  .knative-components-container-mobile , .text-upper-right , .text-lower-left , .svg-diagram{
    display: block;
  }

  .text-table {
    display: none;
  }
  
  .components-img {
    display: none;
  }

.knative-components-container-mobile {
  position: relative;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
}

.text-upper-right {
  position: absolute;
  top: 20px;
  right: -75px;
  width: 180px;
  font-size: 12px;
}

.text-lower-left {
  position: absolute;
  bottom: 50px;
  width: 165px;
  left: -10px;
  font-size: 12px;
}

.svg-diagram img {
  width: 120%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media only screen and (max-width: 375px){

.text-upper-right {
  position: absolute;
  top: 20px;
  right: -75px;
  width: 165px;
  font-size: 10px;
}

.text-lower-left {
  position: absolute;
  bottom: 50px;
  width: 150px;
  left: -10px;
  font-size: 10px;
}

.svg-diagram img {
  width: 120%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
/* trying it all container css */
.trying-it-all-container .reason-img img{
position: relative;
}

.trying-it-all-container .reason-img {
  margin: auto;
  height: 130px;
}

.trying-it-all-container .md-typeset h2 {
  color: black;
  line-height: 1;
  margin-bottom: 1rem;
}

.trying-it-all-container .img-col {
  place-self: flex-start;
}

.trying-it-all-container .img-col:first-child img {
  height: 106px;
  margin-top: 10px;
}

.trying-it-all-container .img-col img {
  height: 130px;
  width: 100%;
}

.trying-it-all-container .img-col:last-child img {
  height: 94px;
  margin-top: 20px;
}

.trying-it-all-container .md-typeset .md-button.call-to-action {
  background-color: var(--md-primary-fg-color--dark);
  color: white;
  margin-top: 3rem;
  border-radius: 8px;
  width: 28%;
  font-size: large;
  padding: 0.525em 1em;
  min-width: fit-content;
}

.trying-it-all-container .md-button.call-to-action:hover {
  background-color: var(--md-accent-fg-color);
}

@media screen and (max-width: 768px){
  .trying-it-all-container .md-typeset .md-button.call-to-action{
    width:70%;
  }
}

/* case studies container css */
.case-studies-container {
  text-align: center;
  justify-content: center;
  color: black;
  display: flex;
  background-color: var(--md-primary-fg-color);
  padding: 1rem;
  cursor: pointer;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.md-typeset>h1:first-of-type {
  margin:0;
}

.case-studies-container .cases-table {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: stretch; 
  margin: 1rem;
  margin-top: 0;
  align-items: center;
}

.case-studies-container .cases-table a {
  text-decoration: none;
  cursor: pointer;
  flex: 1 1 25vw; 
  min-width: 300px; 
  max-width: 25vw;
  margin: 1rem;
}

.case-studies-container .cases-table .col {
  background-color: white;
  padding: 1.5rem;
  margin: 1rem 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  transition: border 0.3s ease-in-out;
  border: 2px solid transparent;
  height: 100%; 
}

.case-studies-container .cases-table .col:hover {
  border: 2px solid gray;
}

.case-studies-container .logo {
  display: flex;
  height: 26px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2em;
  padding-top: 2rem;
}

.case-studies-container .logo img {
  max-width: 110px;
}

.case-studies-container .logo .sva {
  width: 60px;
}

.case-studies-container .normal-text {
  text-align: start;
  padding: 0 2em;
  color: var(--md-primary-fg-color--dark);
  font-weight: 600;
  line-height: 1.2;
  font-size: .95rem;
}

.case-studies-container hr {
  border-bottom: 2px solid black;
  display: flow-root;
  margin: .4em 5em -4px 2em;
}

/* Responsive Styles */

@media (max-width: 1370px) {
  .case-studies-container .cases-table a {
    flex: 1 1 30vw;
    min-width: 300px; 
    max-width: 30vw; 
  }
}

@media (max-width: 1200px) {
  .case-studies-container .cases-table{
    flex-wrap: wrap;
  }
  .case-studies-container .cases-table a {
    flex: 1 1 40vw;
    min-width: 300px;
    max-width: 40vw;
  }
}

@media (max-width: 992px) {
  .case-studies-container .cases-table a {
    flex: 1 1 50vw;
    min-width: 300px;
    max-width: 50vw;
  }
}

@media (max-width: 800px) {
  .case-studies-container .cases-table {
    justify-content: center;
    align-items: center; 
    max-width: 100%;
  }

  .case-studies-container .cases-table .col{
    max-width: 50%;
  }

  .case-studies-container .cases-table a {
    display: flex;
    flex: 1 1 90vw;
    min-width: 350px;
    max-width: 90vw;
    justify-content: center;
    margin:0.5rem auto;
  }
}

@media (max-width: 600px) {
  .case-studies-container .cases-table a {
    flex: 1 1 90vw;
    min-width: 650px;
    max-width: 90vw;
  }

  .case-studies-container .logo {
    padding: 0 1em;
    padding-top: 1rem;
  }

  .case-studies-container hr {
    margin: .4em 2em -4px 1em;
  }

  .case-studies-container .normal-text {
    padding: 0 1em;
  }
}

@media (max-width: 375px){
  .case-studies-container .cases-table a {
    flex: 1 1 90vw;
    min-width: 350px;
    max-width: 90vw;
  }

  .case-studies-container .cases-table .col{
    max-width: 90%;
  }
}

/* whats next container css */
.whats-next-container .component-flex {
  display: flex;
  gap: 2em;
  padding-top: 1em;
}

.whats-next-container h1 {
  margin: 0;
}

.whats-next-container h2 {
  color: white;
  font-size: 1.3rem;
  margin: .6em 0 0;
  font-weight: bold;
}

.whats-next-container .normal-text {
  font-weight: 500;
  font-size: .8em;
  padding-top: 0;
  color: white;
}

.whats-next-container .twemoji {
  color: white;
  justify-content: center;
}

.whats-next-container .twemoji,
.whats-next-container .twemoji svg {
  height: 3.5em;
  width: 3.5em;
}

.whats-next-container .twemoji svg:hover {
  color: #7cc57c;
}

.whats-next-logo{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.md-typeset .md-button.black {
  color: black;
}

.md-typeset .md-button.white {
  color: white;
}

/* cncf notice container css */
.cncf-notice-container {
  background-color: white;
}

.cncf-notice-container h3 {
  font-weight: bold;
  color: var(--nav-item-color);
  margin-top: 0;
}

.md-typeset img.cncf-logo {
  width: 40%;
  max-width: 500px;
  margin: 1rem;
}

@media only screen and (max-width: 800px) {
  .component-flex, .case-studies-container .cases-table {
    flex-wrap: wrap;
  }

  .knative-components-container .text-table .normal-text {
    width: 80%;
    text-align: center; 
  }

  .knative-components-container .text-table .normal-text:first-child {
    margin-left: -15%;
  }

  .knative-components-container {
    padding: 3em 1em;
  }

  .knative-components-container .components-content .components-img {
    max-width: 100%;
  }
}

/* No next/prev links on home page so make sure next/prev area of footer collapses nicely */
footer nav.md-footer__inner {
  padding: 0;
}

.md-footer-meta{
  padding: 1em 0;
}

.md-footer-copyright{
  margin-right: 18px;
}

@media (max-width: 1024px){
  .md-header__topic {
    margin: 0;
  }

  .md-footer-copyright{
    margin: auto;
    text-align: center;
  }

  .md-social{
    margin: auto;
  }
}

@media (max-width: 861px) {
  .md-footer-meta{
    flex-direction: column;
  }

  .md-footer__link {
    display: block;
    margin-bottom: 1rem;
  }

  .md-footer__title {
    display: block;
    margin-bottom: 0.5rem;
  }

  .md-footer__button {
    display: none;
  }

  .md-footer-meta__inner {
    flex-direction: column;
    align-items: center;
  }

  .md-footer-copyright {
    order: 2;
    margin: 2rem;
    flex-wrap: wrap;
  }

  .md-footer-copyright a{
    margin: 8px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .md-social {
    margin-top: 1rem;
  }

  .pipe{
    display:none;
  }
}
