:root {
  --md-primary-fg-color: #1a7dc9;
  --home-color: #0071c7;
  --nav-item-color: #4d4d4d;
}

.md-clipboard, .md-nav__item a {
  color: var(--md-primary-fg-color);
}

.highlight.no-copy .md-clipboard {
  display: none;
}

.md-header__button.md-logo img {
  width: 3rem;
  height: 2.4rem;
}

.md-nav__item--nested>.md-nav__link {
  color: var(--nav-item-color);
}

.md-nav__item--nested>.md-nav__link:hover {
  color: var(--md-accent-fg-color);
}

.md-tabs {
  border-bottom: 1px solid var(--home-color);
}

.md-tabs__list li:nth-last-child(1),
.md-tabs__list li:nth-last-child(2) {
  background: var(--home-color);
  float: right;
}

.md-nav__title .md-nav__button.md-logo img,
.md-nav__title .md-nav__button.md-logo svg {
  width: auto;
}

/**Modify H1**/
.md-typeset h1 {
  margin: 1em 0 0.75em;
}

.md-typeset > h1:first-of-type {
  margin: 0 0 0.75em;
}

.md-version__list li:nth-last-child(1) a {
  color: gray;
}

/* bit of a hack to stop the banner taking space when empty */
.md-announce .md-announce__inner {
  margin: 0;
  padding: 0;
}

/* text sizing of tables, Alert, Warnings, Notes*/
.md-typeset table, .md-typeset table:not([class]) {
  font-size: 100%;

}

.md-typeset .admonition {
  font-size: 100%;
}

/* Giving h4 tag distinctive style because it is non-differntial with bold text */
.md-typeset h4 {
  font-size: 1.0rem;
}

