apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: helloworld-elixir
  namespace: default
spec:
  template:
    spec:
      containers:
        - image: docker.io/{username}/helloworld-elixir
          env:
          - name: TARGET
            value: "elixir Sample v1"
