@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#__next {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

body {
	font-family: 'Poppins', sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
